---
title: Media object
layout: ./source/_layout.ejs
current: media-object
menu: layout
engine: ejs
---

<p>將以下的 "目標"，替換成 media 使其顯示正確</p>

<div class="demo">
  <div class="目標">
    <img class="d-flex mr-3" src="http://lorempixel.com/output/people-q-c-64-64-5.jpg" alt="Generic placeholder image">
    <div class="目標-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
</div>


<h2>巢狀</h2>

<p>將以下的 "目標"，替換成 media 使其顯示正確</p>

<div class="demo">
  <div class="media">
    <img class="d-flex mr-3" src="http://lorempixel.com/output/people-q-c-64-64-5.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

      <div class="目標 mt-3">
        <a class="d-flex pr-3" href="#">
          <img src="http://lorempixel.com/output/people-q-c-64-64-5.jpg" alt="Generic placeholder image">
        </a>
        <div class="目標-body">
          <h5 class="mt-0">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
  </div>
</div>

<h2>對齊</h2>

<p>將以下的 "目標"，替換成 (center, end) 使其改變排版</p>

<div class="demo">
  <div class="media">
    <img class="d-flex align-self-目標 mr-3" src="http://lorempixel.com/output/people-q-c-64-64-5.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Center-aligned media</h5>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>
</div>

<h2>排序</h2>

<p>移除以下註解內容</p>

<div class="demo">
  <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <!-- <img class="d-flex ml-3" src="http://lorempixel.com/output/people-q-c-64-64-5.jpg" alt="Generic placeholder image"> -->
  </div>
</div>