---
title: Alerts
layout: ./source/_layout.ejs
current: alerts
menu: components
engine: ejs
---

<p>單一個 .alert 僅包含骨架</p>

<div class="demo">
  <div class="alert" role="alert">
    This is a alert—check it out!
  </div>
</div>


<h2>標準範例</h2>

<p>將以下的 "目標"，替換成不同色彩 (primary, secondary, success, danger, warning, info, light, dark, white)</p>

<div class="demo">
  <div class="alert alert-目標" role="alert">
  This is a primary alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a success alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a danger alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a warning alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a info alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a light alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a dark alert—check it out!
  </div>
</div>



<h2>連結顏色</h2>

<p>在 "目標" 連結補上 alert-link</p>

<div class="demo">
  <div class="alert alert-primary" role="alert">
    This is a primary alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-secondary" role="alert">
    This is a secondary alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-success" role="alert">
    This is a success alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-danger" role="alert">
    This is a danger alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-warning" role="alert">
    This is a warning alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-info" role="alert">
    This is a info alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
</div>



<h2>Javascript 移除</h2>

<p>在 "目標" 按鈕補上 data-dismiss="alert" 屬性</p>

<div class="demo">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" 目標 aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  </div>
</div>
