---
title: Badge
layout: ./source/_layout.ejs
current: badge
menu: components
engine: ejs
---

<p>單一個 .badge 僅包含骨架</p>

<h1>Example heading <span class="badge">New</span></h1>

<h2>標準範例</h2>

<p>他自動符合各種尺寸</p>

<h5>Example heading <span class="badge badge-secondary">New</span></h5>
<h6>Example heading <span class="badge badge-secondary">New</span></h6>

<p>可以作為連結或按鈕的計數器</p>

<button class="btn btn-primary">
  Notifications <span class="badge badge-light">4</span>
</button>

<h2>情境變化</h2>

<p>加入以下的色彩 Class 來修改標籤的外觀。</p>

<span class="badge 這裡">Primary</span>
<span class="badge 這裡">Secondary</span>
<span class="badge 這裡">Success</span>
<span class="badge 這裡">Danger</span>
<span class="badge 這裡">Warning</span>
<span class="badge 這裡">Info</span>
<span class="badge 這裡">Light</span>
<span class="badge 這裡">Dark</span>

<h2>膠囊標籤</h2>

<p>使用 .badge-pill 可以使標籤更圓潤</p>

<span class="badge 這裡 badge-primary">Primary</span>
<span class="badge 這裡 badge-secondary">Secondary</span>
<span class="badge 這裡 badge-success">Success</span>
<span class="badge 這裡 badge-danger">Danger</span>

<h2>連結</h2>

<p>將以下 span 改為 a 元素，提供 hover 和 focus 狀態</p>

<span href="#" class="badge badge-primary">Primary</span>
<span href="#" class="badge badge-secondary">Secondary</span>
<span href="#" class="badge badge-success">Success</span>