---
title: Breadcrumb
layout: ./source/_layout.ejs
current: breadcrumb
menu: components
engine: ejs
---

<p>加入 breadcrumb 觀察 ::before 和 content 其變化</p>

<div class="demo">
  <ol class="目標">
    <li class="breadcrumb-item active">Home</li>
  </ol>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Library</li>
  </ol>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active">Data</li>
  </ol>
</div>


<p>麵包屑呈現不需要透過 li 也能運作，將 "here" 換成 a 標籤 </p>

<div class="demo">
  <nav class="breadcrumb">
    <here class="breadcrumb-item" href="#">Home</here>
    <here class="breadcrumb-item" href="#">Library</here>
    <here class="breadcrumb-item" href="#">Data</here>
    <span class="breadcrumb-item active">Bootstrap</span>
  </nav>
</div>