---
title: Buttons
layout: ./source/_layout.ejs
current: buttons
menu: components
engine: ejs
---

<p>單一 btn 僅包含結構</p>

<div class="demo">
  <button type="button" class="btn">Primary</button>
</div>

<h2>範例</h2>

<p>btn 具有不同的語意化色彩，可透過 btn-{theme-color} 來替換</p>

<div class="demo">
  <button type="button" class="btn 目標">Primary</button>
  <button type="button" class="btn 目標">Secondary</button>
  <button type="button" class="btn 目標">Success</button>
  <button type="button" class="btn 目標">Danger</button>
  <button type="button" class="btn 目標">Warning</button>
  <button type="button" class="btn 目標">Info</button>
  <button type="button" class="btn 目標">Light</button>
  <button type="button" class="btn 目標">Dark</button>
  <button type="button" class="btn 目標">Link</button>
</div>

<h2>按鈕可運用不同標籤</h2>

<p>將以下 input 替換上正確的 type</p>

<div class="demo">
  <a class="btn btn-primary" href="#" role="button">Link</a>
  <button class="btn btn-primary" type="submit">Button</button>
  <input class="btn btn-primary"  value="Input"><!-- type="button" -->
  <input class="btn btn-primary"  value="Submit"><!-- type="submit" -->
  <input class="btn btn-primary"  value="Reset"><!-- type="reset" -->
</div>

<h2>外框按鈕</h2>

<p>將以下按鈕替換成外框按鈕 (btn-outline-color)</p>

<div class="demo">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
</div>

<h2>大小</h2>

<p>將以下按鈕替換成不同尺寸 (sm, lg)</p>

<div class="demo">
  <button type="button" class="btn btn-primary 目標">Large button</button>
  <button type="button" class="btn btn-primary">button</button>
  <button type="button" class="btn btn-primary 目標">Small button</button>
</div>

<p>將以下按鈕替換上塊狀屬性 (block)</p>

<div class="demo">
  <button type="button" class="btn btn-primary btn-lg 目標">Block level button</button>
  <button type="button" class="btn btn-secondary btn-lg 目標">Block level button</button>
</div>


<h2>啟用狀態</h2>

<p>將以下按鈕加上 active</p>

<div class="demo">
  <a href="#" class="btn btn-primary 目標" role="button" aria-pressed="true">Primary link</a>
  <a href="#" class="btn btn-secondary 目標" role="button" aria-pressed="true">Link</a>
</div>

<h2>停用狀態</h2>

<p>將以下按鈕加上 disabled</p>

<div class="demo">
  <button type="button" class="btn btn-lg btn-primary" 目標>Primary button</button>
  <button type="button" class="btn btn-secondary btn-lg" 目標>Button</button>

  <a href="#" class="btn btn-primary btn-lg 目標" role="button" aria-disabled="true">Primary link</a>
  <a href="#" class="btn btn-secondary btn-lg 目標" role="button" aria-disabled="true">Link</a>
</div>


<h2>JavaScript</h2>

<h2>切換狀態</h2>

<p>按鈕加上 data-toggle="button" 用來切換狀態</p>

<div class="demo">
  <button type="button" class="btn btn-outline-primary" 目標 aria-pressed="false" autocomplete="off">
    Single toggle
  </button>
</div>


<h2>核取方塊和選項按鈕</h2>

<p>按鈕群組加上 btn-group-toggle 隱藏內部的 input</p>

<div class="demo">
  <div class="btn-group 目標">
    <label class="btn btn-secondary active">
      <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
    </label>
    <label class="btn btn-secondary">
      <input type="checkbox" autocomplete="off"> Checkbox 2
    </label>
    <label class="btn btn-secondary">
      <input type="checkbox" autocomplete="off"> Checkbox 3
    </label>
  </div>
</div>

<p>按鈕群組加上 data-toggle="buttons" 啟用他們各自樣式的切換</p>

<div class="demo">
  <div class="btn-group btn-group-toggle" 目標>
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
    </label>
  </div>
</div>
