---
title: Buttons
layout: ./source/_layout.ejs
current: buttons
menu: components
engine: ejs
---

<p>單一 btn 僅包含結構</p>

<button type="button" class="btn">Primary</button>

<h2>範例</h2>

<p>btn 具有不同的語意化色彩，可透過 btn-{theme-color} 來替換</p>

<button type="button" class="btn 這裡">Primary</button>
<button type="button" class="btn 這裡">Secondary</button>
<button type="button" class="btn 這裡">Success</button>
<button type="button" class="btn 這裡">Danger</button>
<button type="button" class="btn 這裡">Warning</button>
<button type="button" class="btn 這裡">Info</button>
<button type="button" class="btn 這裡">Light</button>
<button type="button" class="btn 這裡">Dark</button>
<button type="button" class="btn 這裡">Link</button>