---
title: Input Group
layout: ./source/_layout.ejs
current: input-group
menu: components
engine: ejs
---

<h2>範例</h2>

<p>將以下的 "這裡"，替換成 input-group 使其顯示群組</p>

<div class="這裡">
  <span class="這裡-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<br>
<div class="這裡">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="這裡-addon" id="basic-addon2">@example.com</span>
</div>
<br>
<label for="basic-url">Your vanity URL</label>
<div class="這裡">
  <span class="這裡-addon" id="basic-addon3">https://example.com/users/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>
<br>
<div class="這裡">
  <span class="這裡-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="這裡-addon">.00</span>
</div>
<br>
<div class="這裡">
  <span class="這裡-addon">$</span>
  <span class="這裡-addon">0.00</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
</div>

<div class="這裡">
  <span class="這裡-addon">
    <input type="checkbox" aria-label="Checkbox for following text input">
  </span>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
<div class="這裡">
  <span class="這裡-btn">
    <button class="btn btn-secondary" type="button">Hate it</button>
  </span>
  <input type="text" class="form-control" placeholder="Product name" aria-label="Product name">
  <span class="這裡-btn">
    <button class="btn btn-secondary" type="button">Love it</button>
  </span>
</div>

<div class="這裡">
  <span class="這裡-addon">
    <input type="checkbox" aria-label="Checkbox for following text input">
  </span>
  <span class="這裡-addon">$</span>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>

<h2>尺寸</h2>

<p>將以下的 "這裡"，替換成不同尺寸 (sm, lg)</p>


<div class="input-group input-group-這裡">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="sizing-addon1">
</div>
<br>
<div class="input-group input-group-這裡">
  <span class="input-group-addon" id="sizing-addon2">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="sizing-addon2">
</div>

<h2>帶下拉式選單的按鈕</h2>

<p>將以下的 "這裡"，替換成 data-toggle="dropdown" 使其能夠運作</p>

<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-secondary dropdown-toggle" 這裡 aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>