---
title: Jumbotron
layout: ./source/_layout.ejs
current: jumbotron
menu: components
engine: ejs
---

<h2>範例</h2>

<p>將以下的 "目標"，替換成 jumbotron 使其顯示正確</p>

<div class="demo">
  <div class="目標">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>


<p>要想讓廣告屏占滿螢幕寬度、不帶有圓角，請加 .jumbotron-fluid</p>

<div class="demo">
  <div class="jumbotron 目標">
    <div class="container">
      <h1 class="display-3">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
</div>
