---
title: List Group
layout: ./source/_layout.ejs
current: list-group
menu: components
engine: ejs
---

<h2>範例</h2>

<p>將以下的 "這裡"，替換成 list-group 使其顯示正確</p>

<div class="demo">
  <ul class="這裡">
    <li class="這裡-item active">Cras justo odio</li>
    <li class="這裡-item disabled">Dapibus ac facilisis in</li>
    <li class="這裡-item">Morbi leo risus</li>
    <li class="這裡-item">Porta ac consectetur ac</li>
    <li class="這裡-item">Vestibulum at eros</li>
  </ul>
</div>

<p>將以下的 "這裡"，替換成 list-group-item-action 使其可用 hover</p>

<div class="demo">
  <div class="list-group">
    <a href="#" class="list-group-item active">
      Cras justo odio
    </a>
    <a href="#" class="list-group-item 這裡">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item 這裡">Morbi leo risus</a>
    <a href="#" class="list-group-item 這裡">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item 這裡 disabled">Vestibulum at eros</a>
  </div>
</div>

<hr>

<p>將以下的 "這裡"，替換成不同色彩</p>

<div class="demo">
  <ul class="list-group">
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-這裡">This is a primary list group item</li>
    <li class="list-group-item list-group-item-這裡">This is a secondary list group item</li>
    <li class="list-group-item list-group-item-這裡">This is a success list group item</li>
    <li class="list-group-item list-group-item-這裡">This is a danger list group item</li>
      <a href="#" class="list-group-item list-group-item-action list-group-item-這裡">This is a warning list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-這裡">This is a info list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-這裡">This is a light list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-這裡">This is a dark list group item</a>
  </ul>
</div>

<h2>自訂內容</h2>

<p>將以下的 "這裡"，替換成 list-group 使其顯示正確</p>

<div class="demo">
  <div class="這裡">
    <a href="#" class="這裡-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small>Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="這裡-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="這裡-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
  </div>
</div>


<p>將以下的 "這裡"，替換成 data-toggle="list" 使其能夠運作</p>

<div class="demo">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" 這裡 href="#list-home" role="tab" aria-controls="home">Home</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" 這裡 href="#list-profile" role="tab" aria-controls="profile">Profile</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" 這裡 href="#list-messages" role="tab" aria-controls="messages">Messages</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" 這裡 href="#list-settings" role="tab" aria-controls="settings">Settings</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">1</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">2</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">3</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4</div>
      </div>
    </div>
  </div>
</div>
