---
title: Nav
layout: ./source/_layout.ejs
current: nav
menu: components
engine: ejs
---

<h2>範例</h2>

<p>將以下的 "目標"，替換成 nav 使其顯示正確</p>

<div class="demo">
  <ul class="目標">
    <li class="目標-item">
      <a class="目標-link active" href="#">Active</a>
    </li>
    <li class="目標-item">
      <a class="目標-link" href="#">Link</a>
    </li>
    <li class="目標-item">
      <a class="目標-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <nav class="目標">
    <a class="目標-link active" href="#">Active</a>
    <a class="目標-link" href="#">Link</a>
    <a class="目標-link disabled" href="#">Disabled</a>
  </nav>
</div>

<h2>水平對齊</h2>

<p>將以下的 "目標"，替換成 justify-content 使其對齊正確</p>

<div class="demo">
  <ul class="nav 目標-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <ul class="nav 目標-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

<h2>垂直</h2>

<p>將以下的 "目標"，替換成 flex-column 使其垂直排列</p>

<div class="demo">
  <ul class="nav 目標">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <nav class="nav 目標">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav>
</div>

<h2>樣式</h2>

<p>將以下的 "目標"，替換成 tabs 使其改變樣式</p>

<div class="demo">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

<p>將以下的 "目標"，替換成 pills 使其改變樣式</p>

<div class="demo">
  <ul class="nav nav-目標">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

<h2>JavaScript</h2>

<p>將以下的 "目標"，替換成 data-toggle="tab" 使其能夠運作</p>

<div class="demo">
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" 目標 href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" 目標 href="#nav-profile" role="tab" aria-controls="nav-profile">Profile</a>
    <div class="dropdown">
      <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="nav-dropdown1-tab" href="#nav-dropdown1" role="tab" 目標 aria-controls="nav-dropdown1">@fat</a>
        <a class="dropdown-item" id="nav-dropdown2-tab" href="#nav-dropdown2" role="tab" 目標 aria-controls="nav-dropdown2">@mdo</a>
      </div>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">1</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">2</div>
    <div class="tab-pane fade" id="nav-dropdown1" role="tabpanel" aria-labelledby="nav-dropdown1-tab">3</div>
    <div class="tab-pane fade" id="nav-dropdown2" role="tabpanel" aria-labelledby="nav-dropdown2-tab">4</div>
  </div>
</div>
