---
title: Nav
layout: ./source/_layout.ejs
current: nav
menu: components
engine: ejs
---

<h2>範例</h2>

<p>將以下的 "這裡"，替換成 nav 使其顯示正確</p>

<ul class="這裡">
  <li class="這裡-item">
    <a class="這裡-link active" href="#">Active</a>
  </li>
  <li class="這裡-item">
    <a class="這裡-link" href="#">Link</a>
  </li>
  <li class="這裡-item">
    <a class="這裡-link disabled" href="#">Disabled</a>
  </li>
</ul>

<nav class="這裡">
  <a class="這裡-link active" href="#">Active</a>
  <a class="這裡-link" href="#">Link</a>
  <a class="這裡-link disabled" href="#">Disabled</a>
</nav>

<h2>水平對齊</h2>

<p>將以下的 "這裡"，替換成 justify-content 使其對齊正確</p>

<ul class="nav 這裡-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<ul class="nav 這裡-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<h2>垂直</h2>

<p>將以下的 "這裡"，替換成 flex-column 使其垂直排列</p>

<ul class="nav 這裡">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<nav class="nav 這裡">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>


<h2>JavaScript</h2>

<p>將以下的 "這裡"，替換成 data-toggle="tab" 使其能夠運作</p>

<nav class="nav nav-tabs" id="myTab" role="tablist">
  <a class="nav-item nav-link active" id="nav-home-tab" 這裡 href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Home</a>
  <a class="nav-item nav-link" id="nav-profile-tab" 這裡 href="#nav-profile" role="tab" aria-controls="nav-profile">Profile</a>
  <div class="dropdown">
    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="nav-dropdown1-tab" href="#nav-dropdown1" role="tab" 這裡 aria-controls="nav-dropdown1">@fat</a>
      <a class="dropdown-item" id="nav-dropdown2-tab" href="#nav-dropdown2" role="tab" 這裡 aria-controls="nav-dropdown2">@mdo</a>
    </div>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-dropdown1" role="tabpanel" aria-labelledby="nav-dropdown1-tab">...</div>
  <div class="tab-pane fade" id="nav-dropdown2" role="tabpanel" aria-labelledby="nav-dropdown2-tab">...</div>
</div>