---
title: Navbar
layout: ./source/_layout.ejs
current: navbar
menu: components
engine: ejs
---

<h2>範例</h2>

<p>將以下的 "目標"，替換成 navbar 使其顯示正確</p>

<div class="demo">
  <nav class="目標 目標-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>

  <!-- As a heading -->
  <nav class="目標 目標-light bg-light">
    <span class="h1" class="navbar-brand mb-0">Navbar</span>
  </nav>
</div>

<hr>

<p>將以下的 "目標"，替換成不同尺寸 (sm, lg) 使其改變響應式的顯示</p>

<p>將以下的 "對應 ID"，替換成 #navbarSupportedContent 使其能夠運作</p>

<div class="demo">
  <nav class="navbar navbar-expand-目標 navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="對應 ID" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>


<h2>品牌</h2>

<p>將以下的 "目標"，替換成 navbar-brand 使其顯示正確</p>

<div class="demo">
  <nav class="navbar navbar-light bg-light">
    <a class="目標" href="#">
      <img src="http://www.hexschool.com/images/logo.png" width="164" height="39" alt="">  
    </a>
  </nav>
</div>

<h2>表單</h2>

<p>將以下的 "目標"，替換成 form-inline 使其顯示正確</p>

<div class="demo">
  <nav class="navbar navbar-light bg-light">
    <form class="目標">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>

<h2>顏色</h2>

<p>將以下的 "目標"，替換成不同色彩</p>

<div class="demo">
  <nav class="navbar navbar-dark bg-目標">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>

  <nav class="navbar navbar-dark bg-目標">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>

  <nav class="navbar navbar-light" style="background-color: 目標;">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>
</div>


<h2>定位</h2>

<div class="demo">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Full width</a>
  </nav>

  <nav class="navbar navbar-light bg-light"><!-- 加入 fixed-top -->
    <a class="navbar-brand" href="#">Fixed top</a>
  </nav>

  <nav class="navbar navbar-light bg-light"><!-- 加入 fixed-bottom -->
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav>

  <nav class="navbar navbar-light bg-light"><!-- 加入 sticky-top -->
    <a class="navbar-brand" href="#">Sticky top</a>
  </nav>
</div>

<br>
<br>
<br>
<br>