<!DOCTYPE html>
<html>
  <head>
    <title>Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  
  <body class="over-flow-x">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bootstrap 練習手冊</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/layout/media-object.html">Layout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/components/alerts.html">Components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilities/borders.html">Utilities</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container my-5">
      <div class="row">
        
          <div class="col-md-3">
            
<div class="list-group">
  
    
      <a href="/components/alerts.html"  class="list-group-item active">
        Alerts
      </a>
    
  
    
      <a href="/components/badge.html"  class="list-group-item">
        Badge
      </a>
    
  
    
      <a href="/components/breadcrumb.html"  class="list-group-item">
        Breadcrumb
      </a>
    
  
    
      <a href="/components/buttons.html"  class="list-group-item">
        Buttons
      </a>
    
  
    
      <a href="/components/button-group.html"  class="list-group-item">
        Button Group
      </a>
    
  
    
      <a href="/components/card.html"  class="list-group-item">
        Card
      </a>
    
  
    
      <a href="/components/carousel.html"  class="list-group-item">
        Carousel
      </a>
    
  
    
      <a href="/components/collapse.html"  class="list-group-item">
        Collapse
      </a>
    
  
    
      <a href="/components/dropdowns.html"  class="list-group-item">
        Dropdowns
      </a>
    
  
    
      <a href="/components/forms.html"  class="list-group-item">
        Forms
      </a>
    
  
    
      <a href="/components/input-group.html"  class="list-group-item">
        Input Group
      </a>
    
  
    
      <a href="/components/jumbotron.html"  class="list-group-item">
        Jumbotron
      </a>
    
  
    
      <a href="/components/list-group.html"  class="list-group-item">
        List Group
      </a>
    
  
    
      <a href="/components/modal.html"  class="list-group-item">
        Modal
      </a>
    
  
    
      <a href="/components/nav.html"  class="list-group-item">
        Nav
      </a>
    
  
    
      <a href="/components/navbar.html"  class="list-group-item">
        Navbar
      </a>
    
  
    
      <a href="/components/pagination.html"  class="list-group-item">
        Pagination
      </a>
    
  
    
      <a href="/components/popovers.html"  class="list-group-item">
        Popovers
      </a>
    
  
    
      <a href="/components/progress.html"  class="list-group-item">
        Progress
      </a>
    
  
    
      <a href="/components/scrollspy.html"  class="list-group-item">
        Scrollspy
      </a>
    
  
    
      <a href="/components/tooltips.html"  class="list-group-item">
        Tooltip
      </a>
    
  
</div>
          </div>
        
        <div class="col-md-9 post">      
          <!-- 練習開始 -->
          <h1 class="mt-0">Alerts</h1>
          
<p>單一個 .alert 僅包含骨架</p>

<div class="demo">
  <div class="alert" role="alert">
    This is a alert—check it out!
  </div>
</div>


<h2>標準範例</h2>

<p>將以下的 "目標"，替換成不同色彩 (primary, secondary, success, danger, warning, info, light, dark, white)</p>

<div class="demo">
  <div class="alert alert-目標" role="alert">
  This is a primary alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a success alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a danger alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a warning alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a info alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a light alert—check it out!
  </div>
  <div class="alert alert-目標" role="alert">
    This is a dark alert—check it out!
  </div>
</div>



<h2>連結顏色</h2>

<p>在 "目標" 連結補上 alert-link</p>

<div class="demo">
  <div class="alert alert-primary" role="alert">
    This is a primary alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-secondary" role="alert">
    This is a secondary alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-success" role="alert">
    This is a success alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-danger" role="alert">
    This is a danger alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-warning" role="alert">
    This is a warning alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-info" role="alert">
    This is a info alert with <a href="#" class="目標">an example link</a>. Give it a click if you like.
  </div>
</div>



<h2>Javascript 移除</h2>

<p>在 "目標" 按鈕補上 data-dismiss="alert" 屬性</p>

<div class="demo">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" 目標 aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  </div>
</div>
 
        </div>
      </div>
    </div>
  </body>
</html>