<!DOCTYPE html>
<html>
  <head>
    <title>Dropdowns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  
  <body class="over-flow-x">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bootstrap 練習手冊</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/layout/media-object.html">Layout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/components/alerts.html">Components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilities/borders.html">Utilities</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container my-5">
      <div class="row">
        
          <div class="col-md-3">
            
<div class="list-group">
  
    
      <a href="/components/alerts.html"  class="list-group-item">
        Alerts
      </a>
    
  
    
      <a href="/components/badge.html"  class="list-group-item">
        Badge
      </a>
    
  
    
      <a href="/components/breadcrumb.html"  class="list-group-item">
        Breadcrumb
      </a>
    
  
    
      <a href="/components/buttons.html"  class="list-group-item">
        Buttons
      </a>
    
  
    
      <a href="/components/button-group.html"  class="list-group-item">
        Button Group
      </a>
    
  
    
      <a href="/components/card.html"  class="list-group-item">
        Card
      </a>
    
  
    
      <a href="/components/carousel.html"  class="list-group-item">
        Carousel
      </a>
    
  
    
      <a href="/components/collapse.html"  class="list-group-item">
        Collapse
      </a>
    
  
    
      <a href="/components/dropdowns.html"  class="list-group-item active">
        Dropdowns
      </a>
    
  
    
      <a href="/components/forms.html"  class="list-group-item">
        Forms
      </a>
    
  
    
      <a href="/components/input-group.html"  class="list-group-item">
        Input Group
      </a>
    
  
    
      <a href="/components/jumbotron.html"  class="list-group-item">
        Jumbotron
      </a>
    
  
    
      <a href="/components/list-group.html"  class="list-group-item">
        List Group
      </a>
    
  
    
      <a href="/components/modal.html"  class="list-group-item">
        Modal
      </a>
    
  
    
      <a href="/components/nav.html"  class="list-group-item">
        Nav
      </a>
    
  
    
      <a href="/components/navbar.html"  class="list-group-item">
        Navbar
      </a>
    
  
    
      <a href="/components/pagination.html"  class="list-group-item">
        Pagination
      </a>
    
  
    
      <a href="/components/popovers.html"  class="list-group-item">
        Popovers
      </a>
    
  
    
      <a href="/components/progress.html"  class="list-group-item">
        Progress
      </a>
    
  
    
      <a href="/components/scrollspy.html"  class="list-group-item">
        Scrollspy
      </a>
    
  
    
      <a href="/components/tooltips.html"  class="list-group-item">
        Tooltip
      </a>
    
  
</div>
          </div>
        
        <div class="col-md-9 post">      
          <!-- 練習開始 -->
          <h1 class="mt-0">Dropdowns</h1>
          
<h2>JavaScript</h2>

<p>將以下的 "目標"，替換成 data-toggle="dropdown" 使其能夠運作</p>

<div class="demo">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 目標 aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>

<p>將以下的 "目標"，替換成 dropdown-toggle-split 使其排版正確</p>


<div class="demo">
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle 目標" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>


<p>將以下的 "目標"，替換成 dropup 使其能夠向上</p>

<div class="demo">
  <div class="dropdown 目標">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>

<h2>選單標題</h2>

<p>將以下的 "目標"，替換成 dropdown-header 使其排版正確</p>

<div class="demo">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <h6 class="目標">Dropdown header</h6>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item disabled" href="#">Another action</a>
    </div>
  </div>
</div>

<hr>

<p>將以下的 "目標"，替換成 dropdown-divider 使其產生分隔線</p>

<div class="demo">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="目標"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<hr>

<p>將以下的 "目標"，替換成 px-4 py-3 使其排版正確</p>

<div class="demo">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <form class="目標">
        <div class="form-group">
          <label for="exampleDropdownFormEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword1">Password</label>
          <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">New around here? Sign up</a>
      <a class="dropdown-item" href="#">Forgot password?</a>
    </div>
  </div>
</div>



 
        </div>
      </div>
    </div>
  </body>
</html>