<!DOCTYPE html>
<html>
  <head>
    <title>Modal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  
  <body class="over-flow-x">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bootstrap 練習手冊</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/layout/media-object.html">Layout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/components/alerts.html">Components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilities/borders.html">Utilities</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container my-5">
      <div class="row">
        
          <div class="col-md-3">
            
<div class="list-group">
  
    
      <a href="/components/alerts.html"  class="list-group-item">
        Alerts
      </a>
    
  
    
      <a href="/components/badge.html"  class="list-group-item">
        Badge
      </a>
    
  
    
      <a href="/components/breadcrumb.html"  class="list-group-item">
        Breadcrumb
      </a>
    
  
    
      <a href="/components/buttons.html"  class="list-group-item">
        Buttons
      </a>
    
  
    
      <a href="/components/button-group.html"  class="list-group-item">
        Button Group
      </a>
    
  
    
      <a href="/components/card.html"  class="list-group-item">
        Card
      </a>
    
  
    
      <a href="/components/carousel.html"  class="list-group-item">
        Carousel
      </a>
    
  
    
      <a href="/components/collapse.html"  class="list-group-item">
        Collapse
      </a>
    
  
    
      <a href="/components/dropdowns.html"  class="list-group-item">
        Dropdowns
      </a>
    
  
    
      <a href="/components/forms.html"  class="list-group-item">
        Forms
      </a>
    
  
    
      <a href="/components/input-group.html"  class="list-group-item">
        Input Group
      </a>
    
  
    
      <a href="/components/jumbotron.html"  class="list-group-item">
        Jumbotron
      </a>
    
  
    
      <a href="/components/list-group.html"  class="list-group-item">
        List Group
      </a>
    
  
    
      <a href="/components/modal.html"  class="list-group-item active">
        Modal
      </a>
    
  
    
      <a href="/components/nav.html"  class="list-group-item">
        Nav
      </a>
    
  
    
      <a href="/components/navbar.html"  class="list-group-item">
        Navbar
      </a>
    
  
    
      <a href="/components/pagination.html"  class="list-group-item">
        Pagination
      </a>
    
  
    
      <a href="/components/popovers.html"  class="list-group-item">
        Popovers
      </a>
    
  
    
      <a href="/components/progress.html"  class="list-group-item">
        Progress
      </a>
    
  
    
      <a href="/components/scrollspy.html"  class="list-group-item">
        Scrollspy
      </a>
    
  
    
      <a href="/components/tooltips.html"  class="list-group-item">
        Tooltip
      </a>
    
  
</div>
          </div>
        
        <div class="col-md-9 post">      
          <!-- 練習開始 -->
          <h1 class="mt-0">Modal</h1>
          
<h2>範例</h2>

<p>將以下的 "目標"，替換成 data-toggle="modal" 使其能夠運作</p>

<div class="demo">
  <button type="button" class="btn btn-primary" 目標 data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<p>將以下的 "目標"，替換成不同尺寸 (sm, lg)</p>


<div class="demo">
  <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

  <div class="modal fade bd-example-modal-目標" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        ...
      </div>
    </div>
  </div>

  <!-- Small modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

  <div class="modal fade bd-example-modal-目標" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        ...
      </div>
    </div>
  </div>
</div>

<p>將以下的 "目標"，替換成 modal-dialog-centered 使其垂直置中</p>

<div class="demo">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog 目標" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div> 
        </div>
      </div>
    </div>
  </body>
</html>