<!DOCTYPE html>
<html>
  <head>
    <title>Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  
  <body class="over-flow-x">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bootstrap 練習手冊</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/layout/media-object.html">Layout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/components/alerts.html">Components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilities/borders.html">Utilities</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container my-5">
      <div class="row">
        
          <div class="col-md-3">
            
<div class="list-group">
  
    
      <a href="/components/alerts.html"  class="list-group-item">
        Alerts
      </a>
    
  
    
      <a href="/components/badge.html"  class="list-group-item">
        Badge
      </a>
    
  
    
      <a href="/components/breadcrumb.html"  class="list-group-item">
        Breadcrumb
      </a>
    
  
    
      <a href="/components/buttons.html"  class="list-group-item">
        Buttons
      </a>
    
  
    
      <a href="/components/button-group.html"  class="list-group-item">
        Button Group
      </a>
    
  
    
      <a href="/components/card.html"  class="list-group-item">
        Card
      </a>
    
  
    
      <a href="/components/carousel.html"  class="list-group-item">
        Carousel
      </a>
    
  
    
      <a href="/components/collapse.html"  class="list-group-item">
        Collapse
      </a>
    
  
    
      <a href="/components/dropdowns.html"  class="list-group-item">
        Dropdowns
      </a>
    
  
    
      <a href="/components/forms.html"  class="list-group-item">
        Forms
      </a>
    
  
    
      <a href="/components/input-group.html"  class="list-group-item">
        Input Group
      </a>
    
  
    
      <a href="/components/jumbotron.html"  class="list-group-item">
        Jumbotron
      </a>
    
  
    
      <a href="/components/list-group.html"  class="list-group-item">
        List Group
      </a>
    
  
    
      <a href="/components/modal.html"  class="list-group-item">
        Modal
      </a>
    
  
    
      <a href="/components/nav.html"  class="list-group-item">
        Nav
      </a>
    
  
    
      <a href="/components/navbar.html"  class="list-group-item active">
        Navbar
      </a>
    
  
    
      <a href="/components/pagination.html"  class="list-group-item">
        Pagination
      </a>
    
  
    
      <a href="/components/popovers.html"  class="list-group-item">
        Popovers
      </a>
    
  
    
      <a href="/components/progress.html"  class="list-group-item">
        Progress
      </a>
    
  
    
      <a href="/components/scrollspy.html"  class="list-group-item">
        Scrollspy
      </a>
    
  
    
      <a href="/components/tooltips.html"  class="list-group-item">
        Tooltip
      </a>
    
  
</div>
          </div>
        
        <div class="col-md-9 post">      
          <!-- 練習開始 -->
          <h1 class="mt-0">Navbar</h1>
          
<h2>範例</h2>

<p>將以下的 "目標"，替換成 navbar 使其顯示正確</p>

<div class="demo">
  <nav class="目標 目標-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>

  <!-- As a heading -->
  <nav class="目標 目標-light bg-light">
    <span class="navbar-brand mb-0">Navbar</span>
  </nav>
</div>

<hr>

<p>將以下的 "目標"，替換成不同尺寸 (sm, lg) 使其改變響應式的顯示</p>

<p>將以下的 "對應 ID"，替換成 #navbarSupportedContent 使其能夠運作</p>

<div class="demo">
  <nav class="navbar navbar-expand-目標 navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="對應 ID" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>


<h2>品牌</h2>

<p>將以下的 "目標"，替換成 navbar-brand 使其顯示正確</p>

<div class="demo">
  <nav class="navbar navbar-light bg-light">
    <a class="目標" href="#">
      <img src="http://www.hexschool.com/images/logo.png" width="164" height="39" alt="">  
    </a>
  </nav>
</div>

<h2>表單</h2>

<p>將以下的 "目標"，替換成 form-inline 使其顯示正確</p>

<div class="demo">
  <nav class="navbar navbar-light bg-light">
    <form class="目標">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>

<h2>顏色</h2>

<p>將以下的 "目標"，替換成不同色彩</p>

<div class="demo">
  <nav class="navbar navbar-dark bg-目標">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>

  <nav class="navbar navbar-dark bg-目標">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>

  <nav class="navbar navbar-light" style="background-color: 目標;">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>
</div>


<h2>定位</h2>

<div class="demo">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Full width</a>
  </nav>

  <nav class="navbar navbar-light bg-light"><!-- 加入 fixed-top -->
    <a class="navbar-brand" href="#">Fixed top</a>
  </nav>

  <nav class="navbar navbar-light bg-light"><!-- 加入 fixed-bottom -->
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav>

  <nav class="navbar navbar-light bg-light"><!-- 加入 sticky-top -->
    <a class="navbar-brand" href="#">Sticky top</a>
  </nav>
</div>

<br>
<br>
<br>
<br> 
        </div>
      </div>
    </div>
  </body>
</html>