---
title: Borders
layout: ./source/_layout.ejs
current: borders
menu: utilities
engine: ejs
---

<p>將以下的 "這裡"，替換成 border 使其顯示正確</p>

<div class="demo">
  <span class="box 這裡"></span>
  <span class="box 這裡-0"></span>
  <span class="box 這裡-top-0"></span>
  <span class="box 這裡-right-0"></span>
  <span class="box 這裡-bottom-0"></span>
  <span class="box 這裡-left-0"></span>
</div>

<hr>

<p>將以下的 "這裡"，替換成不同色彩</p>

<div class="demo">
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
  <span class="box border border-這裡"></span>
</div>


<h2>Border-radius</h2>

<p>將以下的 "這裡"，替換成 rounded 使其顯示正確</p>

<div class="demo">
  <span class="box 這裡"></span>
  <span class="box 這裡-top"></span>
  <span class="box 這裡-right"></span>
  <span class="box 這裡-bottom"></span>
  <span class="box 這裡-left"></span>
  <span class="box 這裡-circle"></span>
  <span class="box 這裡-0"></span>
</div>


