---
title: Clearfix
layout: ./source/_layout.ejs
current: clearfix
menu: utilities
engine: ejs
---

<p>將以下的 "目標"，替換成 clearfix 使其顯示正確</p>

<div class="demo">
  <div class="bg-info 目標">
    <button class="btn btn-secondary float-left">Example Button floated left</button>
    <button class="btn btn-secondary float-right">Example Button floated right</button>
  </div>
</div>

