---
title: Close Icon
layout: ./source/_layout.ejs
current: close-icon
menu: utilities
engine: ejs
---


<p>將以下註解移除用來加入 Close icon</p>

<div class="demo">
  <div class="alert alert-primary" role="alert">
    <!-- <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
    This is a primary alert—check it out!
  </div>
</div>