---
title: Colors
layout: ./source/_layout.ejs
current: colors
menu: utilities
engine: ejs
---


<p>將以下的 "這裡"，替換成 text 使其顯示正確</p>

<p class="這裡-primary">.text-primary</p>
<p class="這裡-secondary">.text-secondary</p>
<p class="這裡-success">.text-success</p>
<p class="這裡-danger">.text-danger</p>
<p class="這裡-warning">.text-warning</p>
<p class="這裡-info">.text-info</p>
<p class="這裡-light">.text-light</p>
<p class="這裡-dark">.text-dark</p>

<p><a href="#" class="這裡-primary">Primary link</a></p>
<p><a href="#" class="這裡-secondary">Secondary link</a></p>
<p><a href="#" class="這裡-success">Success link</a></p>
<p><a href="#" class="這裡-danger">Danger link</a></p>
<p><a href="#" class="這裡-warning">Warning link</a></p>
<p><a href="#" class="這裡-info">Info link</a></p>
<p><a href="#" class="這裡-light bg-gray">Light link</a></p>
<p><a href="#" class="這裡-dark">Dark link</a></p>


<hr>

<p>將以下的 "這裡"，替換成 bg 使其顯示正確</p>

<div class="p-3 mb-2 這裡-primary text-white">.bg-primary</div>
<div class="p-3 mb-2 這裡-secondary text-white">.bg-secondary</div>
<div class="p-3 mb-2 這裡-success text-white">.bg-success</div>
<div class="p-3 mb-2 這裡-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 這裡-warning text-white">.bg-warning</div>
<div class="p-3 mb-2 這裡-info text-white">.bg-info</div>
<div class="p-3 mb-2 這裡-light text-gray-dark">.bg-light</div>
<div class="p-3 mb-2 這裡-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 這裡-white text-gray-dark">.bg-white</div>