---
title: Display
layout: ./source/_layout.ejs
current: display
menu: utilities
engine: ejs
---


<p>將以下的 "目標"，替換成 d-inline 使其顯示改變</p>

<div class="demo">
  <div class="目標 bg-success">d-inline</div>
  <div class="目標 bg-success">d-inline</div>
</div>
<hr>

<p>將以下的 "目標"，替換成 d-block 使其顯示改變</p>

<div class="demo">
  <span class="目標 bg-primary">d-block</span>  
</div>

<hr>

<p>將以下的 "目標"，替換成 d-inline-block 使其顯示改變</p>

<div class="demo">
  <div class="目標 bg-warning">d-inline-block</div>
  <div class="目標 bg-warning">d-inline-block</div>
</div>

<h2>拉動視窗，觀察以下元素變化</h2>

<div class="demo">
  <div class="bg-info d-lg-inline-block d-sm-block d-none">
    請拉動視窗
  </div>
</div>