---
title: Embed
layout: ./source/_layout.ejs
current: embed
menu: utilities
engine: ejs
---


<p>將以下的 "目標"，替換成不同尺寸 (21by9, 16by9, 4by3, 1by1)</p>

<!-- 21:9 aspect ratio -->
<div class="demo">
  <div class="embed-responsive embed-responsive-目標">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WqoFFNlXY1c"></iframe>
  </div>
</div>

<!-- 16:9 aspect ratio -->
<div class="demo">
  <div class="embed-responsive embed-responsive-目標">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WqoFFNlXY1c"></iframe>
  </div>
</div>

<!-- 4:3 aspect ratio -->
<div class="demo">
  <div class="embed-responsive embed-responsive-目標">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WqoFFNlXY1c"></iframe>
  </div>
</div>

<!-- 1:1 aspect ratio -->
<div class="demo">
  <div class="embed-responsive embed-responsive-目標">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WqoFFNlXY1c"></iframe>
  </div>
</div>