---
title: Float
layout: ./source/_layout.ejs
current: float
menu: utilities
engine: ejs
---


<p>將以下的 "這裡"，替換成不同 float (left, right, none)</p>

<div class="demo">
  <div class="clearfix">
    <div class="float-這裡">Float left on all viewport sizes</div><br>
    <div class="float-這裡">Float right on all viewport sizes</div><br>
    <div class="float-這裡">Don't float on all viewport sizes</div>
  </div>
</div>

<h2>拉動視窗，觀察以下元素變化</h2>

<div class="demo">
  <div class="clearfix">
    <div class="float-right">Float left on viewports sized SM (small) or wider</div><br>
    <div class="float-sm-right">Float left on viewports sized SM (small) or wider</div><br>
    <div class="float-md-right">Float left on viewports sized MD (medium) or wider</div><br>
    <div class="float-lg-right">Float left on viewports sized LG (large) or wider</div><br>
    <div class="float-xl-right">Float left on viewports sized XL (extra-large) or wider</div><br>
  </div>
</div>
