---
title: Image Replacement
layout: ./source/_layout.ejs
current: image-replacement
menu: utilities
engine: ejs
---


<p>將以下的 "目標"，替換成 text-hide 使其顯示正確</p>

<div class="demo">
  <h1 class="目標" style="background-image: url('http://lorempixel.com/400/200/food'); width: 400px; height: 200px;">
    Bootstrap
  </h1>
</div>

