---
title: Position
layout: ./source/_layout.ejs
current: position
menu: utilities
engine: ejs
---


<p>快速增加定位 Class 是可以用，雖然這些不包含響應式。</p>

<div class="demo">
  <div class="position-static">...</div>
  <div class="position-relative">...</div>
  <div class="position-absolute">...</div>
  <div class="position-fixed">...</div>
  <div class="position-sticky">...</div>
</div>

<h2>本章節參考 <a href="/components/navbar.html">Navbar 中的定位</a></h2>