---
title: Spacing
layout: ./source/_layout.ejs
current: spacing
menu: utilities
engine: ejs
---

<p>將以下的 "目標"，替換成 (m, p) 使其改變成為 margin 或 padding</p>

<div class="demo">
  <div class="bg-info border">
    <div class="box 目標-4">1</div>
    <div class="box 目標-4">1</div>
  </div>
</div>


<hr>

<p>將以下的 "目標"，替換成 (m, mt, mb, ml, mr, mx, my) 使其改變 margin 不同方向性</p>

<div class="demo">
  <div class="bg-info border">
    <div class="box 目標-4"></div>
    <div class="box 目標-4"></div>
    <div class="box 目標-4"></div>
    <div class="box 目標-4"></div>
    <div class="box 目標-4"></div>
    <div class="box 目標-4"></div>
    <div class="box 目標-4"></div>
  </div>
</div>

<hr>

<p>將以下的 "目標"，替換成 (1 ~ 5) 使其改變 padding 的尺寸</p>

<div class="demo">
  <div class="bg-info border">
    <div class="box p-目標">1</div>
    <div class="box p-目標">2</div>
    <div class="box p-目標">3</div>
    <div class="box p-目標">4</div>
    <div class="box p-目標">5</div>
  </div>
</div>

<hr>

<p>margin 另外包含不同方向性的 auto</p>

<div class="demo">
  <div class="bg-info border">
    <div class="box d-block mx-auto">1</div>
  </div>
</div>