---
title: Vertical Align
layout: ./source/_layout.ejs
current: vertical-align
menu: utilities
engine: ejs
---

<p>將以下的 "這裡"，替換成不同垂直對其方式 (baseline, top, middle, text-top, text-bottom)</p>

<div class="demo">
  <table class="table" style="height: 200px;">
    <tbody>
      <tr>
        <td class="align-這裡">baseline</td>
        <td class="align-這裡">top</td>
        <td class="align-這裡">middle</td>
        <td class="align-這裡">bottom</td>
        <td class="align-這裡">text-top</td>
        <td class="align-這裡">text-bottom</td>
      </tr>
    </tbody>
  </table>
</div>