---
title: Visibility
layout: ./source/_layout.ejs
current: visibility
menu: utilities
engine: ejs
---

<p>將以下的 "visible" 替換成 invisible 並觀察其差異</p>

<div class="demo">
  <div class="bg-info p-3">
    <div class="box invisible"></div>
    <div class="box visible"></div>
    <div class="box visible"></div>
  </div>
</div>